{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
    <style>
        .login-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full height */
            position: relative; /* Relative position for the container */
            z-index: 1; /* Ensure the wrapper is on top */
        }

        .login-container {
            background-color: rgba(25, 26, 29, 0.8);
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
            width: 400px; /* Adjust width as needed */
            text-align: center;
            z-index: 10; /* Bring the container to the front */
        }

        h2 {
            margin-bottom: 20px;
            color: #de1002;
        }

        .form-control {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #27292d;
            border-radius: 4px;
            color: #999!important;
            background: none;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #de1002;
        }

        button.btn-login {
            background: #de1002;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
        }

        button.btn-login:hover {
            background: #fff;
            color: #de1002;
        }

        ::placeholder {
            color: #999!important;
            opacity: 1;
        }
    </style>

    <div class="login-wrapper">
        <div class="login-container">
            <h2>Ajouter un Film</h2>
            <!-- Form to add a new movie -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.title|add_class:"form-control" | attr:"placeholder:'Titre du Film'" }}
                {{ form.release_date|add_class:"form-control" | attr:"placeholder:'Date de Sortie'" }}
                {{ form.overview|add_class:"form-control" | attr:"placeholder:'Aperçu du Film'" }}
                {{ form.poster_path|add_class:"form-control" | attr:"placeholder:'Chemin de l'Affiche'" }}

                <label>Sélectionner des Genres</label>
                {% for genre in form.genres %}
                    <div>
                        {{ genre.tag }} {{ genre.choice_label }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn-login">Ajouter le Film</button>
            </form>

            <a href="{% url 'add_genre' %}" class="btn-genre">Ajouter un Nouveau Genre</a>

        </div>
    </div>
{% endblock %}
